img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

h1 {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 28px;
}

title {text-align: center;
	font-family: Garamond, serif;
	font-size: 28px;}

nav {text-align: center;
	font-family: Garamond, serif;
	font-size: 28px;}